rules {
    border: 2px solid gold;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}
rules::first-line {
    font-weight:600;
}

note {
    border: 2px solid rgb(0, 110, 255);
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    
}
note::before {
    display: inline-block;
    content: 'Note:';
    margin-right: 5px;
    height: 100%;
    vertical-align: top;
    color: rgb(2, 35, 78);
}

main {
    margin: 8px; 
}
body {
    margin: 0;
}
.head {
    margin: 0px;
background-color:rgba(127,17,70,1);
background-image:url(imgs/simple-header-blended.png);
font-family: Lato, sans-serif;
color:rgba(255,255,255,0.8700000048);
/* height:200px; */
background-size:cover;
/* display: block; */
display: flex; justify-content: space-between;

}
header {
    position: sticky;
    top: 0px;
}
.title {
    padding: 10px;
}
/* .head::before {
background-color: rgba(33,33,33,1);
opacity: 0.4;
} */
.menu a {
    color:inherit;
    text-decoration: none;
    display: block;
    padding: 10px;
    
}
.menu a:hover {
    background-color: rgba(33,33,33,.4);
}
.menu:not(.menu-sub-list){
    margin: 0;
    padding-left: 0;
}
.menu-main {
    list-style: none;
}
.menu-main>li {
    display: inline-block;
}
.menu-sub {
    display: none;
    
    /* background-size:100vw; */
    background-color:rgba(127,17,70,1);
    /* opacity: .5; */
    background-image:url(https://ssl.gstatic.com/atari/images/simple-header-blended-small.png);
}
li:hover > .menu-sub {
    display: block;
    position: absolute;
}
.menu-sub {
    list-style: none;
}
.menu-sub > li {
    display: block;
}
/* .menu-sub-list{
    
} */
/* .menu-sub > li:has(>.menu-sub-list) > a {
    border-bottom: 1px solid darkred;
} */
.menu-sub > li{
    
    border-left: none;
    border-right: none;
    border-bottom: none;
}
/* .menu-sub{
    
    border: 1px solid darkred;
} */
.menu-sub-list > li {
    border-top: none;
    border-right: none;
}
.menu-sub-list > li:last-of-type {
    border-bottom: none;
}
/* li {
    border: 1px solid darkred;
} */
/* .menu-main >li {
    border: none;
} */
.menu-main>li>div {
    /* padding: 10px; */
    margin: 0px;
}

figure {
    border-color: cornflowerblue;
    padding: 10px;
    float: right;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}
figcaption {
    color:darkblue;
                border-bottom: 2px solid cornflowerblue;
                display: block;
                padding-bottom: 5px;
                margin-bottom: 5px;
}